<h1>【種別一覧】</h1>
<% jbook = jbook? current_page %>

<table class="type">
  <tr>
    <th class="no"   >No. </th>
    <th              >ID  </th>
    <th              >名称</th>
    <th class="check"><%= cEXP_TYPE_EXP     %></th>
    <th class="check"><%= cEXP_TYPE_PRV     %></th>
    <th class="check"><%= cEXP_TYPE_SUM_EXP %></th>
    <th class="check"><%= cEXP_TYPE_TAB_SUM %></th>
    <th class="check"><%= cEXP_TYPE_BLN_ERN %></th>
    <th class="check"><%= cEXP_TYPE_BLN_EXP %></th>
    <th>説明(マウスオンで全文を表示)</th>
  </tr>
  <% data.type.each_with_index do |(k, v), i| %>
    <tr>
      <td class="no"   ><%= i+1                        %></td>
      <td              ><%= k                          %></td>
      <td              ><%= v.NAME                     %></td>
      <td class="check"><%= v.EXPENSE     ? cMARU : '' %></td>
      <td class="check"><%= v.PRIVATE     ? cMARU : '' %></td>
      <td class="check"><%= v.SUMMARY_EXP ? cMARU : '' %></td>
      <td class="check"><%= v.SHOW_IN_SUM ? cMARU : '' %></td>
      <td class="check"><%= v.BALANCE_ERN ? cMARU : '' %></td>
      <td class="check"><%= v.BALANCE_EXP ? cMARU : '' %></td>
      <td><%= type_description(v.DESCRIPTION) %></td>
    </tr>
  <% end %>
</table>
<ul>
  <li><%= cEXP_TYPE_EXP     %>：<%= lnDBFile  jbook %>の<%= cCOL_TYPE %>として指定可能どうか．</li>
  <li><%= cEXP_TYPE_PRV     %>：<%= lnPrivate jbook %>での表示対象かどうか．                  </li>
  <li><%= cEXP_TYPE_SUM_EXP %>：<%= lnSummary jbook %>での支出対象かどうか．                  </li>
  <li><%= cEXP_TYPE_TAB_SUM %>：<%= lnSummary jbook %>での表示対象かどうか．                  </li>
  <li><%= cEXP_TYPE_BLN_ERN %>：<%= lnBalance jbook %>での収入対象かどうか．                  </li>
  <li><%= cEXP_TYPE_BLN_EXP %>：<%= lnBalance jbook %>での支出対象かどうか．                  </li>
</ul>
