<tr>
  <td                ><%= no %></td>
  <td                ><%= control.NAME %></td>
  <td                ><%= control.ID   %></td>
  <td                ><%= control.TEXT %></td>
  <td                ><%= control.ATTR %></td>
  <td class="align-c"><%= control.ALGN %></td>
  <td                ><%= control.TYPE %></td>
  <td                ><%= control.NOTE %></td>
</tr>

<% if control.key?("CHILDREN") %>
  <% control.CHILDREN.each.with_index(1) do |ctrl, i| %>
    <%= render_child({ control: ctrl, no: "#{no}-#{i}" }) %>
  <% end %>
<% end %>
