<h2>レイアウト</h2>

<% if form.key?("IMAGE") %>
<table class="layout">
  <% form.IMAGE.each_with_index do |img, i| %>
    <tr>
      <td class="layout <%= img.CSS if img.key?("CSS") %>">
        <figure>
          <% if !img.key?("GRAPHIC_OPTION") %>
            <%= image_tag img.PNG, class: "layout " + (img.CSS if img.key?("CSS")).to_s %>
            <figcaption>
              <%= "#{i+1}.#{img.CAPTION}" %>
            </figcaption>
          <% else %>
            <%= image_tag img.PNG, id: 'img_graphic' %>
            <figcaption>
              <button type="button" id="btn_prev_month">&lt;</button>
              <%= "#{i+1}.#{img.CAPTION}" %>
              <button type="button" id="btn_next_month">&gt;</button>
            </figcaption>
          <% end %>
        </figure>
      </td>
      <% if i == 0 %>
        <td rowspan="<%= form.IMAGE.length %>" class="overview">
          <figure>
            <figcaption>＜概要＞</figcaption>
            <% if form.key?("OVERVIEW") %>
              <ul class="overview">
                <% form.OVERVIEW.each do |description| %>
                  <li><%= description %></li>
                <% end %>
              </ul>
            <% end %>
            <% if form.key?("PROPERTY") %>
              <figure>
                <figcaption>＜フォーム属性＞</figcaption>
                <table class="form-property">
                  <tr><th>タイトル          </th><td><%= form.PROPERTY.TITLE           %></td></tr>
                  <% if form.PROPERTY.ICON.end_with?(".png") %>
                    <tr><th>アイコン        </th><td style="padding-top:8px;padding-left:5px;"><%= image_tag form.PROPERTY.ICON %></td></tr>
                  <% else %>
                    <tr><th>アイコン        </th><td><%= form.PROPERTY.ICON            %></td></tr>
                  <% end %>
                  <tr><th>画面サイズ        </th><td><%= form.PROPERTY.SCREEN_SIZE     %></td></tr>
                  <tr><th>サイズ変更        </th><td><%= form.PROPERTY.SIZABLE         %></td></tr>
                  <tr><th>初期表示位置      </th><td><%= form.PROPERTY.START_POSITION  %></td></tr>
                  <tr><th>ウィンドウの最大化</th><td><%= form.PROPERTY.MAXIMUM         %></td></tr>
                  <tr><th>ウィンドウの最小化</th><td><%= form.PROPERTY.MINIMUM         %></td></tr>
                  <% if abook? current_page %>
                    <tr><th>タスクバーへの表示</th><td><%= form.PROPERTY.SHOW_IN_TASKBAR %></td></tr>
                  <% end %>
                </table>
              </figure>
            <% end %>
            <% if form.key?("DGV") %>
              <figure>
                <figcaption>＜<%= form.DGV.CAPTION %>＞</figcaption>
                <table class="dgv-property">
                  <tr><th>行追加        </th><td><%= form.DGV.ADD_ROW   %></td></tr>
                  <tr><th>行削除        </th><td><%= form.DGV.DEL_ROW   %></td></tr>
                  <tr><th>ReadOnly      </th><td><%= form.DGV.READONLY  %></td></tr>
                  <tr><th>列のソート    </th><td><%= form.DGV.SORTABLE  %></td></tr>
                  <tr><th>列の幅変更    </th><td><%= form.DGV.COL_WIDTH %></td></tr>
                  <tr><th>選択モード    </th><td><%= form.DGV.SELECTION %></td></tr>
                  <tr><th>スクロールバー</th><td><%= form.DGV.SCROLLBAR %></td></tr>
                </table>
              </figure>
            <% end %>
          </figure>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
