<%# Common Layout Header %>
<header>
  <table class="header">
    <colgroup>
      <col class="title"   />
      <col class="project" />
      <col class="appname" />
      <col class="subname" />
      <col class="version" />
    </colgroup>
    <tbody>
      <tr>
        <td class="title"   rowspan="2"><%= current_page.data.header_title %></td>
        <td class="project" rowspan="2"><%= data.project.PROJECT %></td>
        <td class="appname" rowspan="2"><%= data.project.APPNAME %></td>
        <% if abook? current_page %>
          <td class="subname" rowspan="2"><%= data.project.SUBNAME %></td>
        <% end %>
        <% if jbook? current_page %>
          <td class="subname" rowspan="2">Jbook</td>
        <% end %>
        <td class="version">バージョン</td>
      </tr>
      <tr>
        <% if abook? current_page %>
          <td class="version-number"><%= data.project.VERSION %></td>
        <% end %>
        <% if jbook? current_page %>
          <td class="version-number"><%= data.project.VERSION_JBOOK %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</header>
