<%# Common Layout Header %>
<header>
  <table class="header">
    <colgroup>
      <col class="title"   />
      <col class="project" />
      <col class="appname" />
      <col class="subname" />
      <col class="version" />
    </colgroup>
    <tbody>
      <tr>
        <td class="title"   rowspan="2"><%= current_page.data.header_title %></td>
        <td class="project" rowspan="2"><%= data.pjct.PROJECT %></td>
        <td class="appname" rowspan="2"><%= data.pjct.APPNAME %></td>
        <td class="subname" rowspan="2"><%= data.pjct.SUBNAME %></td>
        <td class="version">バージョン</td>
      </tr>
      <tr>
        <td class="version-number"><%= data.pjct.VERSION %></td>
      </tr>
    </tbody>
  </table>
</header>
