<header>
  <table class="header">
    <colgroup>
      <col class="title"   />
      <col class="project" />
      <col class="appname" />
      <col class="subname" />
      <col class="version" />
    </colgroup>
    <tbody>
      <tr>
        <td class="title"   rowspan="2"><%= current_page.data.header_title   %></td>
        <td class="project" rowspan="2"><%= current_page.data.header_project %></td>
        <td class="appname" rowspan="2"><%= current_page.data.header_appname %></td>
        <td class="subname" rowspan="2"><%= current_page.data.header_subname %></td>
        <td class="version">バージョン</td>
      </tr>
      <tr>
        <td class="version-number"><%= data.project.version %></td>
      </tr>
    </tbody>
  </table>
</header>
