---
title: 収支タブ
header_title: 画面設計
header_project: project.mk
header_appname: Abook
header_subname:
---
<h1>【<%= current_page.data.title %>】</h1>
<section>
  <h2>レイアウト</h2>
  <table>
    <tr>
      <td class="layout">
        <figure>
          <%= image_tag 'tab_balance_001.png' %>
          <figcaption>1.支出情報なし</figcaption>
        </figure>
      </td>
      <td rowspan="2" class="overview">
        <figure>
          <figcaption>概要</figcaption>
          <ul>
            <li>年度の収支を表示する画面</li>
            <li>年度とはその年の4月〜翌年の3月までをいう．<br />例) 2016年度は2016年4月〜2017年3月</li>
            <li>該当年度の支出情報が存在しない場合，その年度の収支は表示しない．</li>
            <li>年度の収支が1行でも存在する場合，収支DGVの末尾に合計行を表示する(年度は9999とする)．</li>
          </ul>
        </figure>
        <figure>
          <figcaption>収支DGVの設定</figcaption>
          <table class="dgv-property">
            <tr><th>行追加        </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>行削除        </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>ReadOnly      </th><td><%= data.char.BOOLT           %></td></tr>
            <tr><th>列の幅変更    </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>列のソート    </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>選択モード    </th><td><%= data.char.SELECT_ROW      %></td></tr>
            <tr><th>スクロールバー</th><td><%= data.char.SCROLL_VERTICAL %></td></tr>
          </table>
        </figure>
      </td>
    </tr>
    <tr>
      <td class="layout">
        <figure>
          <%= image_tag 'tab_balance_002.png' %>
          <figcaption>2.支出情報あり</figcaption>
        </figure>
      </td>
    </tr>
  </table>
</section>
<section>
  <h2>画面項目</h2>
  <table class="controls">
    <tr><th class="no-m">No.</th><th>名称   </th><th>ＩＤ      </th><th>テキスト</th><th                >align                   </th><th>種別                     </th><th>備考                        </th></tr>
    <tr><td class="no-m">1  </td><td>収支DGV</td><td>DgvBalance</td><td>        </td><td class="align-c">                        </td><td>DataGridView             </td><td>                            </td></tr>
    <tr><td class="no-m">1-1</td><td>年度列 </td><td>ColYear   </td><td>"年度"  </td><td class="align-c"><%= data.char.ALIGN_C %></td><td>DataGridViewTextBoxColumn</td><td>                            </td></tr>
    <tr><td class="no-m">1-2</td><td>収入列 </td><td>ColEarn   </td><td>"収入"  </td><td class="align-c"><%= data.char.ALIGN_R %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_CUR_YEN %></td></tr>
    <tr><td class="no-m">1-3</td><td>支出列 </td><td>ColExpense</td><td>"支出"  </td><td class="align-c"><%= data.char.ALIGN_R %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_CUR_YEN %></td></tr>
    <tr><td class="no-m">1-4</td><td>特出列 </td><td>ColSpecial</td><td>"特出"  </td><td class="align-c"><%= data.char.ALIGN_R %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_CUR_YEN %></td></tr>
    <tr><td class="no-m">1-5</td><td>収支列 </td><td>ColBalance</td><td>"収支"  </td><td class="align-c"><%= data.char.ALIGN_R %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_CUR_YEN %></td></tr>
  </table>
</section>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt>初期表示</dt>
    <dd>
      <%= link_dbfile %>から読み込んだ支出情報を年度ごとに以下の定義に従って集計する(<%= link_type data.char.TYPE_PRV %>に該当する支出情報は除く)．
      <table class="balance">
        <tr><th>収入</th><td><%= link_type data.char.TYPE_BLN_ERN %>に該当する支出情報の金額のSUM</td></tr>
        <tr><th>支出</th><td><%= link_type data.char.TYPE_BLN_EXP %>に該当する支出情報の金額のSUM</td></tr>
        <tr><th>特出</th><td><%= link_type                        %>が"<%= type_spcl %>"の支出情報の金額のSUM</td></tr>
        <tr><th>収支</th><td><%= link_type data.char.TYPE_BLN_ERN %>に該当する支出情報の金額のSUM - <%= link_type data.char.TYPE_BLN_ERN %>に該当しない支出情報の金額のSUM</td></tr>
      </table>
      合計行を集計して収支DGVへ表示して，収支DGVの1行目を選択状態とする．<br />
      集計処理中にチェックエラーが発生した場合，エラーダイアログを表示してアプリケーションを終了する．
      <ul class="event">
        <li><%= message_link '年度がマイナス'  , :YEAR_MINUS        %></li>
        <li><%= message_link '収入がマイナス'  , :EARN_MINUS        %></li>
        <li><%= message_link '支出がマイナス'  , :EXPENSE_MINUS     %></li>
        <li><%= message_link '特出がマイナス'  , :SPECIAL_MINUS     %></li>
        <li><%= message_link '収支が正しくない', :BALANCE_INCORRECT %>(収入 - (支出 + 特出) != 収支)</li>
      </ul>
    </dd>
  </dl>
</section>
