---
title: グラフタブ
header_title: 画面設計
header_project: project.mk
header_appname: Abook
header_subname:
---
<h1>【<%= current_page.data.title %>】</h1>
<section>
  <h2>レイアウト</h2>
  <table>
    <tr>
      <td class="layout">
        <figure>
          <%= image_tag 'tab_graphic_001.png' %>
          <figcaption>1.該当の支出情報のない年月</figcaption>
        </figure>
      </td>
      <td rowspan="2" class="overview">
        <figure>
          <figcaption>概要</figcaption>
          <ul>
            <li>1年分の支出の推移をグラフ表示する画面</li>
            <li>初期表示はシステム日付の年月〜1年前の同月までを表示する．</li>
            <li>支出情報のない年月はすべて&yen;0とする．</li>
            <li>前年ボタンにより表示範囲を-1年ずらす．</li>
            <li>前月ボタンにより表示範囲を-1ヶ月ずらす．</li>
            <li>翌月ボタンにより表示範囲を+1ヶ月ずらす．</li>
            <li>翌年ボタンにより表示範囲を+1年ずらす．</li>
          </ul>
        </figure>
      </td>
    </tr>
    <tr>
      <td class="layout">
        <figure>
          <%= image_tag 'tab_graphic_arr_007.png', id: 'img_graphic' %>
          <figcaption>
            <button type="button" id="btn_prev_month">&lt;</button>
            2.該当の支出情報のある年月
            <button type="button" id="btn_next_month">&gt;</button>
          </figcaption>
        </figure>
      </td>
    </tr>
  </table>
</section>
<section>
  <h2>画面項目</h2>
  <table class="controls">
    <tr><th class="no-m">No.</th><th>名称                       </th><th>ＩＤ         </th><th>テキスト             </th><th>種別           </th><th>備考                   </th></tr>
    <tr><td class="no-m">1  </td><td>ヘッダーコントロール       </td><td>HeadGraphic  </td><td>                     </td><td>AbHeaderControl</td><td>                       </td></tr>
    <tr><td class="no-m">1-1</td><td>タイトル                   </td><td>LblTitle     </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_YM %></td></tr>
    <tr><td class="no-m">1-2</td><td>前年ボタン                 </td><td>BtnPrevYear  </td><td>"&lt;&lt;"           </td><td>Button         </td><td>                       </td></tr>
    <tr><td class="no-m">1-3</td><td>前月ボタン                 </td><td>BtnPrevMonth </td><td>"&lt;"               </td><td>Button         </td><td>                       </td></tr>
    <tr><td class="no-m">1-4</td><td>翌月ボタン                 </td><td>BtnNextMonth </td><td>"&gt;"               </td><td>Button         </td><td>                       </td></tr>
    <tr><td class="no-m">1-5</td><td>翌年ボタン                 </td><td>BtnNextYear  </td><td>"&gt;&gt;"           </td><td>Button         </td><td>                       </td></tr>
    <tr><td class="no-m">2  </td><td>凡例線(<%= type_food    %>)</td><td>LblLineRed   </td><td>"--"                 </td><td>Label          </td><td>文字色：赤色           </td></tr>
    <tr><td class="no-m">3  </td><td>凡例名(<%= type_food    %>)</td><td>LblLineFood  </td><td>"<%= type_food %>"   </td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">4  </td><td>凡例線(<%= type_otfd    %>)</td><td>LblLineOrange</td><td>"--"                 </td><td>Label          </td><td>文字色：橙色           </td></tr>
    <tr><td class="no-m">5  </td><td>凡例名(<%= type_otfd    %>)</td><td>LblLineOtfd  </td><td>"<%= type_otfd %>"   </td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">6  </td><td>凡例線(<%= data.char.EL %>)</td><td>LblLineYellow</td><td>"--"                 </td><td>Label          </td><td>文字色：黄色           </td></tr>
    <tr><td class="no-m">7  </td><td>凡例名(<%= data.char.EL %>)</td><td>LblLineEl    </td><td>"<%= data.char.EL %>"</td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">8  </td><td>凡例線(<%= data.char.GS %>)</td><td>LblLineGray  </td><td>"--"                 </td><td>Label          </td><td>文字色：灰色           </td></tr>
    <tr><td class="no-m">9  </td><td>凡例名(<%= data.char.GS %>)</td><td>LblLineGs    </td><td>"<%= data.char.GS %>"</td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">10 </td><td>凡例線(<%= data.char.WT %>)</td><td>LblLineBlue  </td><td>"--"                 </td><td>Label          </td><td>文字色：青色           </td></tr>
    <tr><td class="no-m">11 </td><td>凡例名(<%= data.char.WT %>)</td><td>LblLineWt    </td><td>"<%= data.char.WT %>"</td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">12 </td><td>グラフ描画領域             </td><td>PboxGraph    </td><td>                     </td><td>PictureBox     </td><td>                       </td></tr>
    <tr><td class="no-m">13 </td><td>横軸ラベル1                </td><td>LblX1        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">14 </td><td>横軸ラベル2                </td><td>LblX2        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">15 </td><td>横軸ラベル3                </td><td>LblX3        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">16 </td><td>横軸ラベル4                </td><td>LblX4        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">17 </td><td>横軸ラベル5                </td><td>LblX5        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">18 </td><td>横軸ラベル6                </td><td>LblX6        </td><td>                     </td><td>Label          </td><td><%= data.char.FMT_MM %></td></tr>
    <tr><td class="no-m">19 </td><td>縦軸ラベル1                </td><td>LblYen5000   </td><td>"&yen;5,000"         </td><td>Label          </td><td>                       </td></tr>
    <tr><td class="no-m">20 </td><td>縦軸ラベル2                </td><td>LblYen10000  </td><td>"&yen;10,000"        </td><td>Label          </td><td>                       </td></tr>
  </table>
</section>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt>初期表示</dt>
    <dd>
      <%= link_dbfile %>から読み込んだ支出情報のうち，システム日付の年月〜1年前までの支出情報を対象とする．<br />
      範囲内の年月で支出情報がない年月の場合，金額はすべて&yen;0とする．<br />
      範囲内の年月それぞれで以下の項目ごとに金額を集計する．
      <ul class="event">
        <li>種別：<%= type_food    %></li>
        <li>種別：<%= type_otfd    %></li>
        <li>名称：<%= data.char.EL %></li>
        <li>名称：<%= data.char.GS %></li>
        <li>名称：<%= data.char.WT %></li>
      </ul>
      集計した結果をグラフ描画領域に表示する．
      グラフ描画領域の縦軸が集計金額で，描画範囲は&yen;0〜&yen;15,000とする．<br />
      &yen;2,500ごとに灰色の横点線を描画する．
    </dd>
    <dt>前年ボタン押下</dt>
    <dd>現在のグラフの表示範囲を-1年ずらす．</dd>
    <dt>前月ボタン押下</dt>
    <dd>現在のグラフの表示範囲を-1ヶ月ずらす．</dd>
    <dt>翌月ボタン押下</dt>
    <dd>現在のグラフの表示範囲を+1ヶ月ずらす．</dd>
    <dt>翌年ボタン押下</dt>
    <dd>現在のグラフの表示範囲を+1年ずらす．</dd>
  </dl>
</section>
