---
title: メニュー
header_title: 画面設計
header_project: project.mk
header_appname: Abook
header_subname:
---
<h1>【<%= current_page.data.title %>】</h1>
<section>
  <h2>レイアウト</h2>
  <table>
    <tr>
      <td class="layout"><figure><%= image_tag 'menu_001.png' %><figcaption>1.<%= current_page.data.title %></figcaption></figure></td>
      <td rowspan="4" class="overview">
        <figure>
          <figcaption>概要</figcaption>
          <ul>
            <li>フォーム上部にメニューを表示する．</li>
            <li>メニューに応じたサブメニューを展開する．</li>
            <li>選択されたサブメニューごとにそれぞれの処理を行う．</li>
          </ul>
        </figure>
      </td>
    </tr>
    <tr><td class="layout"><figure><%= image_tag 'menu_002.png' %><figcaption>2.<%= data.char.MENU_F %></figcaption></figure></td></tr>
    <tr><td class="layout"><figure><%= image_tag 'menu_003.png' %><figcaption>3.<%= data.char.MENU_D %></figcaption></figure></td></tr>
    <tr><td class="layout"><figure><%= image_tag 'menu_004.png' %><figcaption>4.<%= data.char.MENU_H %></figcaption></figure></td></tr>
  </table>
</section>
<section>
  <h2>画面項目</h2>
  <table class="controls">
    <tr><th class="no-l">No.  </th><th>名称          </th><th>ＩＤ       </th><th>テキスト                 </th><th>種別             </th></tr>
    <tr><td class="no-l">1    </td><td>メニュー      </td><td>MenuStrip  </td><td>                         </td><td>MenuStrip        </td></tr>
    <tr><td class="no-l">1-1  </td><td>ファイル      </td><td>MenuFile   </td><td>"<%= data.char.MENU_F %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-1-1</td><td>終了          </td><td>MenuExit   </td><td>"<%= data.char.MENU_Q %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-2  </td><td>データ        </td><td>MenuData   </td><td>"<%= data.char.MENU_D %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-2-1</td><td>光熱費        </td><td>MenuEnergy </td><td>"<%= data.char.MENU_E %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-2-2</td><td>アップロード  </td><td>MenuUpload </td><td>"<%= data.char.MENU_U %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-3  </td><td>ヘルプ        </td><td>MenuHelp   </td><td>"<%= data.char.MENU_H %>"</td><td>ToolStripMenuItem</td></tr>
    <tr><td class="no-l">1-3-1</td><td>バージョン情報</td><td>MenuVersion</td><td>"<%= data.char.MENU_A %>"</td><td>ToolStripMenuItem</td></tr>
  </table>
</section>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt><%= data.char.MENU_Q %>選択</dt>
    <dd>アプリケーションを終了する．</dd>
    <dt><%= data.char.MENU_E %>選択</dt>
    <dd><%= link_sub_energy  %>を表示する．</dd>
    <dt><%= data.char.MENU_U %>選択</dt>
    <dd><%= link_sub_uploads %>を表示する．</dd>
    <dt><%= data.char.MENU_A %>選択</dt>
    <dd><%= link_sub_version %>を表示する．</dd>
  </dl>
</section>
