---
header_title: 画面設計
layouts: f402_form_menu_layouts.yml
control: f402_form_menu_control.yml
---
<h1>【<%= fF402 %>】</h1>
<% form_layouts = load_form_data(current_page.data.layouts) %>
<% form_control = load_form_data(current_page.data.control) %>

<%# レイアウト %>
<section>
  <%= partial 'flayouts', locals: { form: form_layouts } %>
</section>

<%# 画面項目 %>
<section>
  <%= partial 'fcontrol', locals: { form: form_control } %>
</section>

<%# イベント %>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt><%= cQUIT! %>選択</dt>
    <dd>
      <ul class="description">
        <li>アプリケーションを終了する．</li>
      </ul>
    </dd>
    <dt><%= cENGY! %>選択</dt>
    <dd>
      <ul class="description">
        <li><%= lnSubEnergy  %>を表示する．</li>
      </ul>
    </dd>
    <dt><%= cUPLD! %>選択</dt>
    <dd>
      <ul class="description">
        <li><%= lnSubUpload %>を表示する．</li>
      </ul>
    </dd>
    <dt><%= cVRSN! %>選択</dt>
    <dd>
      <ul class="description">
        <li><%= lnSubVersion %>を表示する．</li>
      </ul>
    </dd>
  </dl>
</section>
