---
header_title: 画面設計
layouts: f405_tab_graphic_layouts.yml
control: f405_tab_graphic_control.yml
---
<h1>【<%= fF405 %>】</h1>

<% form_layouts = load_form_data(current_page.data.layouts) %>
<% form_control = load_form_data(current_page.data.control) %>

<%# レイアウト %>
<section>
  <%= partial 'flayouts', locals: { form: form_layouts } %>
</section>

<%# 画面項目 %>
<section>
  <%= partial 'fcontrol', locals: { form: form_control } %>
</section>

<%# イベント %>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt>初期表示</dt>
    <dd>
      <ul class="description">
        <li><%= lnDBFile %>から読み込んだ<%= cEXP_INFO %>のうち，システム日付の年月〜1年前までの<%= cEXP_INFO %>を対象とする．</li>
        <li>範囲内の年月で<%= cEXP_INFO %>がない年月の場合，<%= cCOL_COST %>はすべて&yen;0とする．</li>
        <li>範囲内の年月それぞれで以下の項目ごとに<%= cCOL_COST %>を集計する．</li>
        <ul class="event">
          <li>種別：<%= type_food %></li>
          <li>種別：<%= type_otfd %></li>
          <li>名称：<%= cEL %></li>
          <li>名称：<%= cGS %></li>
          <li>名称：<%= cWT %></li>
        </ul>
        <li>集計した結果をグラフ描画領域に表示する．</li>
        <li>グラフ描画領域の縦軸が集計金額で，描画範囲は&yen;0〜&yen;15,000とする．</li>
        <li>&yen;2,500ごとに灰色の横点線を描画する．</li>
      </ul>
    </dd>
    <dt>前年ボタン押下</dt>
    <dd>
      <ul class="description">
        <li>現在のグラフの表示範囲を-1年分ずらす．</li>
      <ul>
    </dd>
    <dt>前月ボタン押下</dt>
    <dd>
      <ul class="description">
        <li>現在のグラフの表示範囲を-1ヶ月ずらす．</li>
      <ul>
    </dd>
    <dt>翌月ボタン押下</dt>
    <dd>
      <ul class="description">
        <li>現在のグラフの表示範囲を+1ヶ月ずらす．</li>
      <ul>
    </dd>
    <dt>翌年ボタン押下</dt>
    <dd>
      <ul class="description">
        <li>現在のグラフの表示範囲を+1年分ずらす．</li>
      <ul>
    </dd>
  </dl>
</section>
<script>
  $(function() {
    var GraphicClass = function() {
      this.idx = 6;
      this.prefix = ''
      <% if build? %>
        this.prefix = '<%= config[:http_prefix] %>';
      <% end %>
      this.arr = [
        this.prefix + '/images/tab_graphic_arr_001.png',
        this.prefix + '/images/tab_graphic_arr_002.png',
        this.prefix + '/images/tab_graphic_arr_003.png',
        this.prefix + '/images/tab_graphic_arr_004.png',
        this.prefix + '/images/tab_graphic_arr_005.png',
        this.prefix + '/images/tab_graphic_arr_006.png',
        this.prefix + '/images/tab_graphic_arr_007.png',
        this.prefix + '/images/tab_graphic_arr_008.png',
        this.prefix + '/images/tab_graphic_arr_009.png',
        this.prefix + '/images/tab_graphic_arr_010.png',
        this.prefix + '/images/tab_graphic_arr_011.png',
        this.prefix + '/images/tab_graphic_arr_012.png',
        this.prefix + '/images/tab_graphic_arr_013.png',
      ];
      this.imgs = function() {
        return this.arr[this.idx];
      };
      this.prev = function() {
        this.idx = this.idx - 1;
      };
      this.next = function() {
        this.idx = this.idx + 1;
      };
      this.nomore_prev = function() {
        return this.idx == 0;
      };
      this.nomore_next = function() {
        return this.idx == (this.arr.length - 1);
      };
    };
    var graphic_obj = new GraphicClass();
    $("#btn_prev_month").click(function() {
      graphic_obj.prev();
      $("#img_graphic").attr('src', graphic_obj.imgs());
      if (graphic_obj.nomore_prev()) {
        $("#btn_prev_month").prop("disabled", true);
      }
      $("#btn_next_month").prop("disabled", false);
    });
    $("#btn_next_month").click(function() {
      graphic_obj.next();
      $("#img_graphic").attr('src', graphic_obj.imgs());
      if (graphic_obj.nomore_next()) {
        $("#btn_next_month").prop("disabled", true);
      }
      $("#btn_prev_month").prop("disabled", false);
    });
  });
</script>
