---
title: 種別サブフォーム
header_title: 画面設計
header_project: project.mk
header_appname: Abook
header_subname:
---
<h1>【<%= current_page.data.title %>】</h1>
<section>
  <h2>レイアウト</h2>
  <table>
    <tr>
      <td class="layout" style="vertical-align:top;">
        <figure>
          <%= image_tag 'subform_type_001.png' %>
          <figcaption>1.該当支出情報なし</figcaption>
        </figure>
      </td>
      <td rowspan="2" class="overview">
        <figure>
          <figcaption>概要</figcaption>
          <ul>
            <li>特定の年月の特定の<%= link_type %>の支出情報だけを表示するサブフォーム</li>
            <li><%= link_summary %>から種別ごとの集計結果の内訳を参照するために利用する．</li>
            <li>特定年月内で該当種別の支出情報が存在しない場合，支出DGVは0行とする．</li>
          </ul>
        </figure>
        <figure>
          <figcaption>フォーム属性</figcaption>
          <table class="form-property">
            <tr><th>タイトル          </th><td>月次タブで選択した種別        </td></tr>
            <tr><th>アイコン          </th><td><%= data.char.NASI          %></td></tr>
            <tr><th>画面サイズ        </th><td>395 x 132                     </td></tr>
            <tr><th>サイズ変更        </th><td><%= data.char.FUKA          %></td></tr>
            <tr><th>初期表示位置      </th><td><%= data.char.CENTER_SCREEN %></td></tr>
            <tr><th>ウィンドウの最大化</th><td><%= data.char.FUKA          %></td></tr>
            <tr><th>ウィンドウの最小化</th><td><%= data.char.FUKA          %></td></tr>
            <tr><th>タスクバーへの表示</th><td><%= data.char.NASI          %></td></tr>
          </table>
        </figure>
        <br />
        <figure>
          <figcaption>支出DGVの設定</figcaption>
          <table class="dgv-property">
            <tr><th>行追加        </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>行削除        </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>ReadOnly      </th><td><%= data.char.BOOLT           %></td></tr>
            <tr><th>列の幅変更    </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>列のソート    </th><td><%= data.char.FUKA            %></td></tr>
            <tr><th>選択モード    </th><td><%= data.char.SELECT_ROW      %></td></tr>
            <tr><th>スクロールバー</th><td><%= data.char.SCROLL_VERTICAL %></td></tr>
          </table>
        </figure>
      </td>
    </tr>
    <tr>
      <td class="layout">
        <figure>
          <%= image_tag 'subform_type_medi_002.png' %>
          <figcaption>2.該当支出情報あり</figcaption>
        </figure>
      </td>
    </tr>
  </table>
</section>
<section>
  <h2>画面項目</h2>
  <table class="controls">
    <tr><th class="no-m">No.</th><th>名称      </th><th>ＩＤ      </th><th>テキスト</th><th                >align                   </th><th>種別                     </th><th>備考                      </th></tr>
    <tr><td class="no-m">1  </td><td>支出DGV   </td><td>DgvExpense</td><td>        </td><td class="align-c">                        </td><td>DataGridView             </td><td>                          </td></tr>
    <tr><td class="no-m">1-1</td><td>日付列    </td><td>ColDate   </td><td>"日付"  </td><td class="align-c"><%= data.char.ALIGN_L %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_DT    %></td></tr>
    <tr><td class="no-m">1-2</td><td>名称列    </td><td>ColName   </td><td>"名称"  </td><td class="align-c"><%= data.char.ALIGN_L %></td><td>DataGridViewTextBoxColumn</td><td>                          </td></tr>
    <tr><td class="no-m">1-3</td><td>種別列    </td><td>ColType   </td><td>"種別"  </td><td class="align-c"><%= data.char.ALIGN_C %></td><td>DataGridViewTextBoxColumn</td><td>月次タブで選択した種別    </td></tr>
    <tr><td class="no-m">1-4</td><td>金額列    </td><td>ColCost   </td><td>"金額"  </td><td class="align-c"><%= data.char.ALIGN_R %></td><td>DataGridViewTextBoxColumn</td><td><%= data.char.FMT_COMMA %></td></tr>
  </table>
</section>
<section>
  <h2>イベント</h2>
  <dl class="event">
    <dt>初期表示</dt>
    <dd>
      <%= link_dbfile %>から支出情報を読み込み，月次タブで選択された年月と種別で絞り込む．<br />
      絞り込んだ支出情報を支出DGVへ表示する．<br />
      絞り込んだ支出情報が0件の場合，支出DGVは0行とする．<br />
      支出DGVの1行目を選択状態とする．<br />
      DBファイルの読み込みに失敗した場合，エラーダイアログを表示してフォームを閉じる(エラーダイアログは<%= link_main %>の初期表示と同様)．
    </dd>
  </dl>
</section>
