---
title: 支出タブ
header_title: 画面設計
layouts: f430_tab_expense_layouts.yml
control: f430_tab_expense_control.yml
several: f430_tab_expense_several.yml
---
<h1>【<%= cTAB_EXPENSE %>】</h1>
<% form_layouts = load_form_data(current_page.data.layouts) %>
<% form_control = load_form_data(current_page.data.control) %>
<% form_several = load_form_data(current_page.data.several) %>

<%# レイアウト %>
<%= render_layouts({ form: form_layouts }) %>

<%# 画面項目 %>
<%= render_control({ form: form_control }) %>

<h2>イベント</h2>
<dl class="event">
  <dt>初期表示</dt>
  <dd>
    <ul class="description">
      <li><%= cDB_FILE %>から読み込んだ<%= cEXP_INFO %>を支出DGVへ表示する．</li>
      <li><%= cDB_FILE %>から読み込んだ<%= cEXP_INFO %>が0件の場合，支出DGVは0行とする．</li>
      <li>支出DGVの最終行までスクロールして，最終行の<%= cCOL_DATE %>列のセルを選択状態とする．</li>
    </ul>
  </dd>
  <dt>登録ボタン押下</dt>
  <dd>
    <ul class="description">
      <li>
        支出DGVが0行の場合，警告ダイアログを表示して処理を終了する．
        <ul class="event">
          <li>
            警告：レコードが1件もありません．
            <figure><%= image_tag 'tab_expense_err_norecord.png' %></figure>
          </li>
        </ul>
      </li>
      <li>支出DGVの<%= cEXP_INFO %>を<%= cDB_FILE %>へ出力する(すべての列が空白でない行のみを対象とする)．</li>
      <li><%= cDB_FILE %>への書き出しに失敗した場合，エラーダイアログを表示して処理を終了する．</li>
      <li>
        このとき，エラーとなった行まで支出DGVをスクロールして，該当行を選択状態とする．
        <table class="db-file-store-error">
          <tr>
            <th class="no">No.</th>
            <th>条件</th>
            <th>メッセージ</th>
          </tr>
          <% form_several.MESSAGE.each.with_index(1) do |chk, i| %>
            <tr>
              <td class="no"><%= i %></td>
              <td><%= chk.TERM         %></td>
              <td><%= lnMessage chk.ID %></td>
            </tr>
          <% end %>
        </table>
        <table class="input-error">
          <tr>
            <td class="wide"><figure><%= image_tag 'tab_expense_err_input_001.png'%></figure></td>
            <td class="diag"><figure><%= image_tag 'tab_expense_err_input_002.png'%></figure></td>
            <td class="wide"><figure><%= image_tag 'tab_expense_err_input_003.png'%></figure></td>
          </tr>
          <tr>
            <td><figure><figcaption>3-1.登録ボタンを押下      </figcaption></figure></td>
            <td><figure><figcaption>3-2.エラーダイアログ      </figcaption></figure></td>
            <td><figure><figcaption>3-3.該当行が選択状態となる</figcaption></figure></td>
          </tr>
        </table>
      </li>
      <li>
        <%= cDB_FILE %>への書き出しが成功した場合，各タブを初期化してOKダイアログを表示する．
        <ul class="event">
          <li>
            登録完了：正常に登録しました．
            <figure><%= image_tag 'tab_expense_inf_complete.png' %></figure>
          </li>
        </ul>
      </li>
    </ul>
  </dd>
  <dt>追加ボタン押下</dt>
  <dd>
    <ul class="description">
      <li>支出DGVの末尾に新しく15行追加する．</li>
      <li>
        新しく追加された行の<%= cCOL_DATE %>列にはシステム日付(<%= cYYYY_MM_DD %>)を初期値として設定する．
        <table class="event">
          <tr>
            <td>
              <figure>
                <%= image_tag 'tab_expense_add_rows_001.png', class: 'small' %>
                <figcaption>4-1.追加ボタン押下</figcaption>
              </figure>
            </td>
            <td>
              <figure>
                <%= image_tag 'tab_expense_add_rows_002.png', class: 'small' %>
                <figcaption>4-2.行が追加される</figcaption>
              </figure>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </dd>
  <dt>支出DGVのセル編集終了(CellEndEdit)</dt>
  <dd>
    <ul class="description">
      <li>編集したセルが<%= cCOL_NAME %>列ならば，<%= cCOL_TYPE %>と<%= cCOL_COST %>の自動補完を行う．</li>
      <li>編集したセルが<%= cCOL_TYPE %>列ならば，<%= cCOL_COST %>の自動補完を行う．</li>
      <li>入力された<%= cCOL_NAME %>が既に<%= cEXP_INFO %>に登録されているなら，<%= cCOL_TYPE %>もそれと同じだろうという推測に基づく．</li>
      <li>金額は<%= cCOL_NAME %>と<%= cCOL_TYPE %>の組み合せで直近3件の金額のどれかの可能性が高いだろうという推測に基づく．</li>
      <li>
        <%= cCOL_TYPE %>の具体的な補完手順は以下の通り．
        <ol class="event">
          <li><%= cDB_FILE %>から読み込んだ<%= cEXP_INFO %>で編集したセルの<%= cCOL_NAME %>と同じ<%= cEXP_INFO %>をすべて取得する．<br />
              ※支出DGVに現在表示されている<%= cEXP_INFO %>でないことに注意</li>
          <li>取得した<%= cEXP_INFO %>が0件の場合，編集したセルの行の<%= cCOL_TYPE %>列を空白に設定する．</li>
          <li>取得した<%= cEXP_INFO %>が1件以上の場合，それらを<%= cCOL_TYPE %>ごとにグループ分けする．</li>
          <li>グループ分けした中で件数が最大の<%= cCOL_TYPE %>を編集したセルの行の<%= cCOL_TYPE %>列に設定する．</li>
          <li>件数が最大の<%= cCOL_TYPE %>が複数存在する場合，それらをすべて空白で区切って編集したセルの行の<%= cCOL_TYPE %>列に設定する．</li>
        </ol>
      </li>
      <li>
        <%= cCOL_TYPE %>の自動補完の例を以下に示す．
        <table class="auto-complete">
          <% cap = "5" %>
          <% form_several.TYPE_AUTO_COMPLETE.each.with_index(1) do |img, i| %>
            <tr>
              <% unless img.key?("PNG2") %>
                <td>
                  <figure>
                    <%= image_tag img.PNG1, class: 'small' %>
                    <figcaption><%= "#{cap}-#{i}.#{img.CAPTION1}" %></figcaption>
                  </figure>
                </td>
                <%# colspanを指定すると中央に大きく表示されてしまうのでダメ %>
                <td></td>
              <% else %>
                <td>
                  <figure>
                    <%= image_tag img.PNG1 %>
                    <figcaption><%= "#{cap}-#{i}-1.#{img.CAPTION1}" %></figcaption>
                  </figure>
                </td>
                <td>
                  <figure>
                    <%= image_tag img.PNG2 %>
                    <figcaption><%= "#{cap}-#{i}-2.#{img.CAPTION2}" %></figcaption>
                  </figure>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </li>
      <li>
        <%= cCOL_COST %>の具体的な補完手順は以下の通り．
        <ol class="event">
          <li><%= cDB_FILE %>から読み込んだ<%= cEXP_INFO %>のうち，編集したセルの<%= cCOL_NAME %> + <%= cCOL_TYPE %>の組み合せに当てはまる<%= cEXP_INFO %>をすべて取得する．<br />
              ※支出DGVに現在表示されている<%= cEXP_INFO %>でないことに注意</li>
          </li>
          <li>取得した<%= cEXP_INFO %>が0件の場合，編集したセルの行の<%= cCOL_COST %>列を空白に設定する．</li>
          <li>取得した<%= cEXP_INFO %>が1件以上の場合，日付の新しい順に上位3件の<%= cCOL_COST %>を取得する．</li>
          <li>取得した<%= cCOL_COST %>で重複は一つにまとめる(SQLでのDISTINCT)．</li>
          <li>取得した<%= cCOL_COST %>を"/"で区切って編集したセルの行の<%= cCOL_COST %>列に設定する．<br />
              ※<%= cCOL_COST %>はカンマ編集する</li>
        </ol>
      </li>
      <li>
        <%= cCOL_COST %>の自動補完の例を以下に示す．
        <table class="auto-complete">
          <% cap = "6" %>
          <% form_several.COST_AUTO_COMPLETE.each.with_index(1) do |img, i| %>
            <tr>
              <% unless img.key?("PNG2") %>
                <td>
                  <figure>
                    <%= image_tag img.PNG1, class: 'small' %>
                    <figcaption><%= "#{cap}-#{i}.#{img.CAPTION1}" %></figcaption>
                  </figure>
                </td>
                <td></td>
              <% else %>
                <td>
                  <figure>
                    <%= image_tag img.PNG1 %>
                    <figcaption><%= "#{cap}-#{i}-1.#{img.CAPTION1}" %></figcaption>
                  </figure>
                </td>
                <td>
                  <figure>
                    <%= image_tag img.PNG2 %>
                    <figcaption><%= "#{cap}-#{i}-2.#{img.CAPTION2}" %></figcaption>
                  </figure>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </li>
    </ul>
  </dd>
  <dt>支出DGV上でのキー押下(KeyDown)</dt>
  <dd>
    <ul class="description">
      <li>押下されたキーがCtrl+V(ペースト)の場合，現在選択されてるセルにクリップボードの値をペーストする．</li>
      <li>現在選択されているセルが<%= cCOL_NAME %>列の場合，ペースト終了後に<%= cCOL_TYPE %>と<%= cCOL_COST %>の自動補完を行う．</li>
      <li>現在選択されているセルが<%= cCOL_TYPE %>列の場合，ペースト終了後に<%= cCOL_COST %>の自動補完を行う．</li>
    </ul>
  </dd>
</dl>
