---
title: メッセージ一覧
header_title: メッセージ
header_project: project.mk
header_appname: Abook
header_subname:
---
<h1>【<%= current_page.data.title %>】</h1>

<table class="message">
  <tr>
    <th>No.</th>
    <th>ID</th>
    <th>メッセージ</th>
    <th>書式設定</th>
  </tr>
  <% data.message.each_with_index do |(k, v), i| %>
    <tr>
      <td class="no"><%= i+1       %></td>
      <td           ><%= k         %></td>
      <td           ><%= v.message %></td>
      <td>
        <% if v.args %>
          <% v.args.each do |arg| %>
            <%= arg %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
