---
title: メッセージ
header_title: メッセージ
---
<h1>【メッセージ一覧】</h1>

<%# ================================================== %>
<%# メッセージIDのリンクから遷移してきた場合，         %>
<%# そのメッセージまでスクロールして強調表示する．     %>
<%# ================================================== %>
<script type="text/javascript">
// loadイベントの必要あり
$(window).on('load', function() {
  var header_height = 50; //CSSで定義しているので変更に注意
  var footer_height = 48; //CSSで定義しているので変更に注意
  var scroll_value = header_height * 3;

  // 直後はスクロールが効かないため0.1秒待ってから実行
  setTimeout(function() {
    var fragment = window.location.hash;
    if (fragment) {
      // :targetを指定するとフラグメントのIDを持つ要素が取得可能
      var elem = document.getElementById($(":target").attr("id"));
      // ヘッダの高さ*3倍スクロールして...
      // 3倍なのは画面中央からやや上ぐらいに来てほしいため
      window.scrollTo(0, window.pageYOffset - scroll_value);
      // スクロール後の要素がフッタに隠れてしまうなら...
      var rect = elem.getBoundingClientRect();
      if ($(window).height() - footer_height < rect.bottom) {
        // スクロールを撤回
        window.scrollTo(0, window.pageYOffset + scroll_value);
      }

      // 該当行を強調表示
      $(":target").parent("tr").attr("class", "fragment");
    }
  }, 100);
});
</script>

<table class="message">
  <tr>
    <th class="no">No.       </th>
    <th           >ID        </th>
    <th           >メッセージ</th>
    <th           >書式設定  </th>
  </tr>
  <% data.message.each_with_index do |(k, v), i| %>
    <tr>
      <td class="no"   ><%= i+1   %></td>
      <td id="<%= k %>"><%= k     %></td>
      <td              ><%= v.MSG %></td>
      <td>
        <% if v.key?("ARG") %>
          <% v.ARG.each do |arg| %>
            <%= arg %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
